@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');
:root {
    --color-1: #F1E9E9;
    --color-2: #982598;
    --color-3: #E491C9;
    --color-4: #15173D;
}

body {
    background-color: var(--color-1); 
    color: var(--color-2); 
    font-weight: bold;
    font-family: 'Jersey 25';
    
}



#projects1 {
    text-align: center;
    color:#15173D
}

.back-color {
    background-color: #15173D;
}



nav {
    background-color:var(--color-3);
    text-align: center;
    
    
}
nav a{
    color:#982598;
    text-decoration: none;
    padding: 16px;
    display: inline-block;
    
    
}
nav a:hover {
    background-color:#ab61ab;
    border-bottom:#982598 solid 2px;
}